Repository headwindz/react-authx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint

feat: add hasAuth tests
  README.md
  __tests__/hasAuth.ts
  jest.json
  package-lock.json
  package.json
  src/hoc/authConsumer.tsx
  src/hoc/authContext.ts
  tsconfig.build.json
Due: prettier --write, tslint

feat: update readme
  README.md
Due: none

feat: add tests
  __tests__/authConsumer.tsx
  __tests__/authWrapper.tsx
  package-lock.json
  package.json
Due: prettier --write, tslint

1.0.0
  package-lock.json
  package.json
Due: prettier --write

feat: add license
  LICENSE
Due: none

feat: add travis yml
  .travis.yml
  jest.json
Due: prettier --write

feat: add relavant badge
  README.md
Due: none

fix: update licence
  package.json
Due: prettier --write

feat: add dumi
  .editorconfig
  .fatherrc.ts
  .gitignore
  .prettierignore
  .prettierrc.js
  .umirc.ts
  README.md
  docs/index.md
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  typings.d.ts
Due: prettier --write, tslint

refactor: cleanup scripts
  .huskyrc
  .lintstagedrc
  .npmignore
  .prettierrc
  .travis.yml
  README.md
  jest.json
  tsconfig.build.json
  tslint.json
  typings.d.ts
Due: prettier --write, tslint

fix: fix test cases
  __tests__/authConsumer/index.test.tsx
  __tests__/authWrapper/index.test.tsx
  __tests__/hasAuth/index.test.ts
  jest.config.json
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, tslint

feat: npm -> yarn
  .gitignore
  package-lock.json
  yarn.lock
Due: prettier --write

refactor: remove outdated files
  __tests__/authConsumer.tsx
  __tests__/authWrapper.tsx
  __tests__/hasAuth.ts
  jest.config.json
  package.json
Due: prettier --write, tslint

docs: update license
  LICENSE
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,ts,tsx}
  tslint: any of: *.{ts,tsx}
